/dist/distance-calc/_internal/_bz2.pyd
/dist/distance-calc/_internal/_decimal.pyd
/dist/distance-calc/_internal/_hashlib.pyd
/dist/distance-calc/_internal/_lzma.pyd
/dist/distance-calc/_internal/_socket.pyd
/build/distance-calc/Analysis-00.toc
/build/distance-calc/base_library.zip
/dist/distance-calc/_internal/base_library.zip
/build/distance-calc/COLLECT-00.toc
/build/distance-calc/distance-calc.exe
/dist/distance-calc/distance-calc.exe
/build/distance-calc/distance-calc.pkg
/distance-calc.spec
/dist/distance-calc/_internal/en.json
/build/distance-calc/EXE-00.toc
/dist/distance-calc/_internal/hu.json
/dist/distance-calc/_internal/libcrypto-3.dll
/build/distance-calc/PKG-00.toc
/dist/distance-calc/_internal/python312.dll
/build/distance-calc/PYZ-00.pyz
/build/distance-calc/PYZ-00.toc
/dist/distance-calc/_internal/select.pyd
/dist/distance-calc/_internal/unicodedata.pyd
/dist/distance-calc/_internal/VCRUNTIME140.dll
/build/distance-calc/warn-distance-calc.txt
/build/distance-calc/xref-distance-calc.html
/.idea
go.sum
jungle-calculator
build/jungle-calculator-linux_arm64.tar.gz
build/jungle-calculator-windows_arm64.zip
build/jungle-calculator-macos_arm64.tar.gz
.gitignore
build/jungle-calculator-windows64.zip
build/jungle-calculator-linux64.tar.gz
build/jungle-calculator-macos64.tar.gz
